@model MalzemeHareketVM
<div class="container shadow p-3">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Malzeme Girişi</h4>
            </div>
        </div>
        <hr />
        <div class="row">

            <div class="mb-3 col-3">
                <label asp-for="MalzemeHareket.MalzemeId"></label>
                <select asp-for="MalzemeHareket.MalzemeId" asp-items="@Model.MalzemeList" class="form-select">
                    <option disabled selected>--Seçiniz--</option>
                </select>
                <span asp-validation-for="MalzemeHareket.MalzemeId" class="text-danger"></span>
            </div>
            <div class="col-9">

                <div class="row">
                    @*<div asp-validation-summary="All"></div>*@

                    <div class="mb-3 col-5">
                        <label asp-for="MalzemeHareket.KaynakYeriId"></label>
                        <select asp-for="MalzemeHareket.KaynakYeriId" asp-items="@Model.KaynakYeriList" class="form-select">
                            <option disabled selected>--Seçiniz--</option>
                        </select>
                        <span asp-validation-for="MalzemeHareket.KaynakYeriId" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-5">
                        <label asp-for="MalzemeHareket.HedefYeriId"></label>
                        <select asp-for="MalzemeHareket.HedefYeriId" asp-items="@Model.HedefYeriList" class="form-select">
                            <option disabled selected>--Seçiniz--</option>
                        </select>
                        <span asp-validation-for="MalzemeHareket.HedefYeriId" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-2">
                        <label asp-for="MalzemeHareket.Adet"></label>
                        <input asp-for="MalzemeHareket.Adet" class="form-control" />
                        <span asp-validation-for="MalzemeHareket.Adet" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-5">
                        <div class="form-group">
                            <label asp-for="MalzemeHareket.IslemTipi" class="control-label"></label>
                            <input asp-for="MalzemeHareket.IslemTipi" class="form-control" />
                            <span asp-validation-for="MalzemeHareket.IslemTipi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 col-5">
                        <div class="form-group">
                            <label asp-for="MalzemeHareket.IslemTarihi" class="control-label"></label>
                            <input asp-for="MalzemeHareket.IslemTarihi" class="form-control" type="date" />
                            <span asp-validation-for="MalzemeHareket.IslemTarihi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 col-2">
                        <label asp-for="MalzemeHareket.GirisCikis"></label>

                        <select asp-for="MalzemeHareket.GirisCikis" asp-items="@Model.GirisCikisList" class="form-select">
                            <option disabled selected>--Seçiniz--</option>
                        </select>
                        <span asp-validation-for="MalzemeHareket.GirisCikis" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="MalzemeHareket.Aciklama"></label>
            <textarea asp-for="MalzemeHareket.Aciklama" rows="3" class="form-control"></textarea>
            <span asp-validation-for="MalzemeHareket.Aciklama" class="text-danger"></span>
        </div>
        <div class="col-12">

            <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
            
            <a asp-controller="MalzemeHareket" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Listeye Dön
            </a>
        </div>
    </form>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}