@model KisiVM
<div class="container shadow p-3">
    <asp:UpdatePanel ID="TableUpdatePanel" runat="server">
        <ContentTemplate>
            <div class="card shadow">
                <div class="card-header" id="CardHeader" runat="server">
                    <asp:LinkButton ID="CloseBtn" class="close" runat="server" OnClick="CloseBtn_Click">&times;</asp:LinkButton>
                    <h3 class="mb-2">
                        <asp:Label CssClass="col-form-label text-danger font-weight-bold mb-1" ID="TitleLbl" runat="server" Text="Kişi Kartı"></asp:Label>
                        <asp:Label CssClass="col-form-label" ID="IdLbl" runat="server"></asp:Label>
                        <asp:Label CssClass="col-form-label " ID="AdiLbl" runat="server"></asp:Label>
                    </h3>
                </div>
                <div class="card-body" id="MainCardDiv" runat="server">
                    <div class="table">
                        <asp:Table ID="KisiBilgileriTable" runat="server" CssClass="table table-sm table-hover table-striped table-bordered" BorderStyle="Solid">
                            <asp:TableHeaderRow>
                                <asp:TableHeaderCell ID="BaslikTH" ColumnSpan="5" BackColor="Silver">Kişi Bilgileri</asp:TableHeaderCell>
                                <asp:TableCell ID="BaslikTarihCell" BackColor="Silver" HorizontalAlign="Right"></asp:TableCell>
                            </asp:TableHeaderRow>
                        </asp:Table>
                    </div>
                    <div id="VerilenRandevuDiv" class="table">
                        <asp:Table ID="VerilenRandevuBilgileriTable" runat="server" CssClass="table table-sm table-hover table-striped table-bordered" BorderStyle="Solid">
                            <asp:TableHeaderRow>
                                <asp:TableHeaderCell ColumnSpan="8" BackColor="Silver">Faaliyet Bilgileri (Gelenler)</asp:TableHeaderCell>
                            </asp:TableHeaderRow>
                            <asp:TableHeaderRow>
                                <asp:TableHeaderCell>R.No</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Faaliyet Tarihi</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Yeri/Konusu</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Amacı/Durumu</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Verilen Anı Objesi (Adet)</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Getirilen Anı Objesi (Adet)</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Katılımcılar</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Faaliyet Kartı</asp:TableHeaderCell>
                            </asp:TableHeaderRow>
                        </asp:Table>
                    </div>
                    <div id="AlinanRandevuDiv" class="table">
                        <asp:Table ID="AlınanRandevuBilgileriTable" runat="server" CssClass="table table-sm table-hover table-striped table-bordered" BorderStyle="Solid">
                            <asp:TableHeaderRow>
                                <asp:TableHeaderCell ColumnSpan="8" BackColor="Silver">Faaliyet Bilgileri (Gidilenler)</asp:TableHeaderCell>
                            </asp:TableHeaderRow>
                            <asp:TableHeaderRow>
                                <asp:TableHeaderCell>R.No</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Faaliyet Tarihi</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Yeri/Konusu</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Amacı/Durumu</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Verilen Anı Objesi (Adet)</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Getirilen Anı Objesi (Adet)</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Katılımcılar</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Faaliyet Kartı</asp:TableHeaderCell>
                            </asp:TableHeaderRow>
                        </asp:Table>
                    </div>
                    <div id="AramaGorusmeDiv" class="table">
                        <asp:Table ID="AramaGorusmeTable" runat="server" CssClass="table table-sm table-hover table-striped table-bordered" BorderStyle="Solid">
                            <asp:TableHeaderRow>
                                <asp:TableHeaderCell ColumnSpan="6" BackColor="Silver">Aramalar</asp:TableHeaderCell>
                            </asp:TableHeaderRow>
                            <asp:TableHeaderRow>
                                <asp:TableHeaderCell>A/G.No</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Arama/Görüşme</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Arama Tarihi</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Konusu</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Faaliyet</asp:TableHeaderCell>
                                <asp:TableHeaderCell>Görüşme Sağlandı</asp:TableHeaderCell>
                            </asp:TableHeaderRow>
                        </asp:Table>
                    </div>
                </div>
                <div class="card-footer">
                    <asp:LinkButton CssClass="btn btn-outline-success float-right" ID="ExcelBtn" ClientIDMode="Static" runat="server" Text="Excele Aktar" OnClick="ExcelBtn_Click" OnClientClick="javascript:setFormSubmitToFalse()" />
                    <asp:LinkButton ID="FaaliyetTakvimiBtn" CssClass="btn btn-outline-info float-right" runat="server" Text="Faaliyet Takvimi" OnClick="FaaliyetTakvimiBtn_Click"></asp:LinkButton>
                    <asp:LinkButton ID="FaaliyetListesiBtn" CssClass="btn btn-outline-secondary float-right" runat="server" Text="Faaliyet Listesi" OnClick="FaaliyetListesiBtn_Click"></asp:LinkButton>
                    <asp:LinkButton ID="KisiListesiBtn" CssClass="btn btn-outline-secondary float-right" runat="server" Text="Kişi Listesi" OnClick="KisiListesiBtn_Click"></asp:LinkButton>
                    <asp:LinkButton ID="AramaListesi" CssClass="btn btn-outline-secondary float-right" runat="server" Text="Arama/Görüşme Listesi" OnClick="AramaListesiBtn_Click"></asp:LinkButton>
                </div>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
</div>

@section Scripts{
    <script src="~/js/kisi.js"></script>
}