<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Açık Tarihli Faaliyet Listesi</h4>
        </div>

    </div>
    <hr />
    <div class="m-1 border border-light row">
        <div class="checkbox col-2">
            <label class="m-2">
                <input type="checkbox" id="ToplantiChk" checked="false" />
                Toplantı
            </label>
        </div>
        <div class="checkbox col-2">
            <label class="m-2">
                <input type="checkbox" id="ZiyaretChk" checked="false" />
                Ziyaret
            </label>
        </div>
        <div class="checkbox col-2">
            <label class="m-2">
                <input type="checkbox" id="GorusmeChk" checked="false" />
                Görüşme
            </label>
        </div>
        <div class="checkbox col-2">
            <label class="m-2">
                <input type="checkbox" id="SeyahatChk" checked="false" />
                Seyahat
            </label>
        </div>
        <div class="checkbox col-2">
            <label class="m-2">
                <input type="checkbox" id="DavetChk" checked="false" />
                Davet
            </label>
        </div>
    </div>
    <div class="pt-3">
        <table id="tblDataAcik" class="table table-bordered table-striped table-sm small" style="width:100%">
            <thead>
                <tr>
                    <th>F.No</th>
                    <th>Başlangıç</th>
                    <th>Bitiş</th>
                    <th>Faaliyet Yeri</th>
                    <th>Faaliyet Konusu</th>
                    @* <th>Faaliyet Tipi</th> *@
                    <th>Faaliyet Amacı</th>
                    @* <th>Faaliyet Durumu</th> *@
                    <th>Katılımcılar</th>
                    <th>Düzenle/Sil</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/faaliyet.js"></script>
    <script>

        const toplantiCheckbox = document.getElementById('ToplantiChk');
        const ziyaretCheckbox = document.getElementById('ZiyaretChk');
        const gorusmeCheckbox = document.getElementById('GorusmeChk');
        const seyahatCheckbox = document.getElementById('SeyahatChk');
        const davetCheckbox = document.getElementById('DavetChk');
        localStorage.setItem('toplantiChkState', 'checked')
        localStorage.setItem('ziyaretChkState', 'checked')
        localStorage.setItem('gorusmeChkState', 'checked')
        localStorage.setItem('seyahatChkState', 'checked')
        localStorage.setItem('davetChkState', 'checked')
        $(document).ready(function () {
            //SB to maintain client side persistency
            const toplantiChkState = localStorage.getItem('toplantiChkState');
            const ziyaretChkState = localStorage.getItem('ziyaretChkState');
            const gorusmeChkState = localStorage.getItem('gorusmeChkState');
            const seyahatChkState = localStorage.getItem('seyahatChkState');
            const davetChkState = localStorage.getItem('davetChkState');
            // If there is, set the checkbox state accordingly
            if (toplantiChkState === 'checked') {
                toplantiCheckbox.checked = true;
            } else {
                toplantiCheckbox.checked = false;
            }
             if (ziyaretChkState === 'checked') {
                ziyaretCheckbox.checked = true;
            } else {
                ziyaretCheckbox.checked = false;
            }
            if (gorusmeChkState === 'checked') {
                gorusmeCheckbox.checked = true;
            } else {
                gorusmeCheckbox.checked = false;
            }
            if (seyahatChkState === 'checked') {
                seyahatCheckbox.checked = true;
            } else {
                seyahatCheckbox.checked = false;
            }
            if (davetChkState === 'checked') {
                davetCheckbox.checked = true;
            } else {
                davetCheckbox.checked = false;
            }

            StartList();
        });
        $("#ToplantiChk").change(function () {
            if (ziyaretCheckbox.checked) {
                localStorage.setItem('toplantiChkState', 'checked');
            } else {
                localStorage.setItem('toplantiChkState', 'unchecked');
            }
            StartList();
        })
        $("#ZiyaretChk").change(function () {
            if (ziyaretCheckbox.checked) {
                localStorage.setItem('ziyaretChkState', 'checked');
            } else {
                localStorage.setItem('ziyaretChkState', 'unchecked');
            }
            StartList();
        })
        $("#GorusmeChk").change(function () {
            if (ziyaretCheckbox.checked) {
                localStorage.setItem('gorusmeChkState', 'checked');
            } else {
                localStorage.setItem('gorusmeChkState', 'unchecked');
            }
            StartList();
        })
        $("#SeyahatChk").change(function () {
            if (ziyaretCheckbox.checked) {
                localStorage.setItem('seyahatChkState', 'checked');
            } else {
                localStorage.setItem('seyahatChkState', 'unchecked');
            }
            StartList();
        })
        $("#DavetChk").change(function () {
            if (ziyaretCheckbox.checked) {
                localStorage.setItem('davetChkState', 'checked');
            } else {
                localStorage.setItem('davetChkState', 'unchecked');
            }
            StartList();
        })

        //
        function StartList() {

            loadDataTableAcik(toplantiCheckbox.checked, ziyaretCheckbox.checked, gorusmeCheckbox.checked, seyahatCheckbox.checked, davetCheckbox.checked);
        }
        window.addEventListener('popstate', function (event) {
            // Code to handle the navigation event
            StartList();
        });

    </script>
}