<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Faaliyet Listesi</h4>
        </div>
        <div class="col text-end">
            <a asp-controller="Faaliyet" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Yeni Faaliyet Oluştur
            </a>
        </div>
    </div>
    <hr />
@*     <div class="form-group">
        <div class="col-2 form-group">
            <label class="control-label">Başlama Tarihi</label>
            <input id="BaslangicTarihiTxt" class="form-control" type="date" value="@DateTime.Today.AddYears(-2).ToString("yyyy-MM-dd")" />
        </div>
    </div> *@
    <div class="m-1 border border-light row">
        <div class="checkbox col-4">
            <label class="m-2">
                <input type="checkbox" id="AcikTarihliChk" checked="false" />
                Açık Tarihli faaliyetleri listede göster.
            </label>
        </div>
    </div>
    <div class="pt-3">
        <table id="tblData" class="table table-bordered table-striped table-sm small" style="width:100%">
            <thead>
                <tr>
                    <th>F.No</th>
                    <th>Başlangıç</th>
                    <th>Bitiş</th>
                    <th>Faaliyet Yeri</th>
                    <th>Faaliyet Konusu</th>
                    @* <th>Faaliyet Tipi</th>
                       <th>Faaliyet Amacı</th>
                       <th>Faaliyet Durumu</th> *@
                    <th>Katılımcılar</th>
                    <th>Düzenle/Sil</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/faaliyet.js"></script>

    <script>
        const atCheckbox = document.getElementById('AcikTarihliChk');
        localStorage.setItem('acikTarihliChkState', 'unchecked')
        $(document).ready(function () {
            //SB to maintain client side persistency
            const acikTarihliChkState = localStorage.getItem('acikTarihliChkState');
            // If there is, set the checkbox state accordingly
            if (acikTarihliChkState === 'checked') {
                atCheckbox.checked = true;
            } else {
                atCheckbox.checked = false;
            }
           
            StartList();
        });


        $("#AcikTarihliChk").change(function () {
            if (atCheckbox.checked) {
                localStorage.setItem('acikTarihliChkState', 'checked');
            } else {
                localStorage.setItem('acikTarihliChkState', 'unchecked');
            }
            StartList();
        })
        
        //
        function StartList() {

            var acikTarihliChecked = atCheckbox.checked;
            loadDataTable(acikTarihliChecked);
        }
        window.addEventListener('popstate', function (event) {
            // Code to handle the navigation event
            StartList();
        });
        // $("#BaslangicTarihiTxt").change(function () {
        //     FaaliyetListesiniDoldur();
        // })
        //Tarih değişince tabloyu doldur
        var FaaliyetListesiniDoldur = function () {
            StartList();
        }
    </script>
}