@page "/menu/menu-item-manager"
@rendermode InteractiveServer
@using Jenga.BlazorUI.Components.Menus
@using Jenga.DataAccess.Services.Menu
@using Jenga.Models.Common
@using Jenga.Utility.Error
@inject IMenuItemService MenuItemService
@inject IErrorService ErrorService
@inject IJSRuntime JS

<h3>Menü Yönetimi</h3>
<MenuItemListComponent MenuItems="@menuItems" />

@code {
    private List<MenuItem> menuItems = new();


    private bool _dataLoaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_dataLoaded)
        {
            menuItems = await MenuItemService.GetAllAsync();
            _dataLoaded = true;
            StateHasChanged();
            await JS.InvokeVoidAsync("initDataTable");
        }
    }
}
