@page "/treeview-manager"
@rendermode InteractiveServer
@using Jenga.BlazorUI.Components.Common
@using Jenga.BlazorUI.Components.Inventory
@using Jenga.DataAccess.Services.Inventory
@using Jenga.Models.Common
@using Jenga.Models.Helper
@using Jenga.Models.Inventory
@inject ILocationService LocationService

<TreeView T="Location"
          Items="tree"
          ItemTemplate="LocationTemplate"
          SelectedItem="selectedLocation"
          OnItemClick="EditLocation" />

<LocationEditModal Location="selectedLocation?.Data"
                   IsOpen="isEditOpen"
                   ParentLocations="locations"
                   OnSave="OnModalSave"
                   OnClose="OnModalClose" />

@code {
    List<Location> locations = new();
    List<TreeItem<Location>> tree = new();
    TreeItem<Location>? selectedLocation;
    bool isEditOpen = false;

    protected override async Task OnInitializedAsync()
    {
        locations = await LocationService.GetAllAsync();
        tree = TreeHelper.BuildGenericTree<Location, int>(
            locations,
            loc => loc.Id,
            loc => loc.ParentId,
            loc => new TreeItem<Location>
            {
                Data = loc,
                ShowCreateIcon = true,
                ShowEditIcon = true,
                ShowDeleteIcon = true
            }
        );
    }

    void EditLocation(TreeItem<Location> item)
    {
        selectedLocation = item;
        isEditOpen = true;
        StateHasChanged();
    }

    async Task OnModalSave()
    {
        isEditOpen = false;
        if (selectedLocation?.Data != null)
        {
            if (selectedLocation.Data.Id == 0)
            {
                var saved = await LocationService.AddAsync(selectedLocation.Data);
                if (saved)
                {
                    locations.Add(selectedLocation.Data);
                }
            }
            else
            {
                await LocationService.UpdateAsync(selectedLocation.Data);
            }
        }
        locations = await LocationService.GetAllAsync();
        tree = TreeHelper.BuildGenericTree<Location, int>(
            locations,
            loc => loc.Id,
            loc => loc.ParentId,
            loc => new TreeItem<Location>
            {
                Data = loc,
                ShowCreateIcon = true,
                ShowEditIcon = true,
                ShowDeleteIcon = true
            }
        );
        StateHasChanged();
    }

    void OnModalClose()
    {
        isEditOpen = false;
    }

    RenderFragment<Location> LocationTemplate => loc => @<span>
    @loc.LocationName
    </span>;
}