@rendermode InteractiveServer
@using Jenga.BlazorUI.Components.Menus
@using Jenga.Models.Common
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/">Jenga.BlazorUI</NavLink>
    </div>
</div>

<div class="nav-scrollable"
     onclick="
       // Sadece .treeview-sidebar dışında tıklanırsa toggler click
       if (!event.target.closest('.treeview-sidebar')) {
         document.querySelector('.navbar-toggler').click();
       }
     ">
    <nav class="nav flex-column">
        <aside class="treeview-sidebar">
            <NavLink class="navbar-brand" href="/menu/menu-item-manager">
                Menu
            </NavLink>

            @if (Items == null || !Items.Any())
            {
                <p>Yükleniyor…</p>
            }
            else
            {
                <RecursiveMenu Items="Items" />
            }
        </aside>
    </nav>
</div>

@code {
    [Parameter]
    public List<MenuItem>? Items { get; set; }
}

