@model ModulTanim

<form method="post">
    <div class="row pt-3">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Program Modülü Tanımlama</h4>
        </div>
    </div>
    <hr />
    <div class="border p-3 mt-4">

        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Adi"></label>
            <input asp-for="Adi" class="form-control" />
            <span asp-validation-for="Adi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProgramAdi"></label>
            <input asp-for="ProgramAdi" class="form-control" />
            <span asp-validation-for="WebpartAdi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="WebpartAdi"></label>
            <input asp-for="WebpartAdi" class="form-control" />
            <span asp-validation-for="WebpartAdi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Aciklama"></label>
            <textarea asp-for="Aciklama" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Aciklama" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width=150px">Kaydet</button>
        <a asp-controller="ModulTanim" asp-action="Index" class="btn btn-secondary" style="width:150px">Listeye dön</a>
    </div>
</form>
@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
}
