@model ModulTanim

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="row pt-3">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Depo Silme</h4>
        </div>
    </div>
    <hr />
    <div class="border p-3 mt-4">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Adi"></label>
            <input asp-for="Adi" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="ProgramAdi"></label>
            <input asp-for="ProgramAdi" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="WebpartAdi"></label>
            <input asp-for="WebpartAdi" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="Aciklama"></label>
            <input asp-for="Aciklama" class="form-control" disabled />
        </div>
        <button type="submit" class="btn btn-danger" style="width=150px">Sil</button>
        <a asp-controller="ModulTanim" asp-action="Index" class="btn btn-secondary" style="width:150px">Listeye Dön</a>
    </div>
</form>
@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
