@model ModulTanim
<div class="container shadow p-3">
    <form method="post" asp-action="Edit">
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Modül Düzenle</h4>
            </div>
        </div>
        <hr />
        <div class="border p-3 mt-4">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="Adi"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ProgramAdi"></label>
                <input asp-for="ProgramAdi" class="form-control" />
                <span asp-validation-for="ProgramAdi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WebpartAdi"></label>
                <input asp-for="WebpartAdi" class="form-control" />
                <span asp-validation-for="WebpartAdi" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Aciklama"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width=150px">Güncelle</button>
            <a asp-controller="DepoTanim" asp-action="Index" class="btn btn-secondary" style="width:150px">Listeye Dön</a>
        </div>
    </form>
</div>
@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
