@using Jenga.Models
@using Jenga.Models.Common


@if (Roller?.Any() != true)
{
    <p>Rol bulunamadı.</p>
}
else
{
    <table class="table table-striped display" id="RolListTable">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rol in Roller)
            {
                <tr>
                    <td>@rol.Adi</td>
                    <td>@rol.Aciklama</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Parameter] public List<Rol> Roller { get; set; } = new();
}