@model Jenga.Models.ViewModels.PersonelMenuVM

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input asp-for="PersonelMenu.Id" hidden />
    <div class="row pt-3">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Anı Objesi Oluşturma</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        @*<div asp-validation-summary="All"></div>*@
        
        <div class="mb-3">
            <label asp-for="PersonelMenu.Aciklama"></label>
            <textarea asp-for="PersonelMenu.Aciklama" rows="3" class="form-control"></textarea>
            <span asp-validation-for="PersonelMenu.Aciklama" class="text-danger"></span>
        </div>
        <div class="col-12">
            @if (Model.PersonelMenu.Id != 0)
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Güncelle</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
            }
            <a asp-controller="PersonelMenu" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Listeye Dön
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });      
    </script>
}
