@model EnvanterTanim
<div class="container-sm shadow p-3">
    <form method="post">
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Envanter Tanımlama</h4>
            </div>
        </div>
        <hr />
        <div class="border p-3 mt-4">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="Adi"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Aciklama"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width=150px">Kaydet</button>
            <a asp-controller="EnvanterTanim" asp-action="Index" class="btn btn-secondary" style="width:150px">Listeye dön</a>
        </div>
    </form>
</div>
@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
