@model OzellikVM
<div class="container-sm shadow">
    <form method="post" asp-action="Edit">
        <input asp-for="Ozellik.Id" hidden />
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Özellik Düzenle</h4>
            </div>
        </div>
        <hr />
        <div class="border p-3 mt-4">
            <div asp-validation-summary="All"></div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label asp-for="Ozellik.Adi"></label>
                    <input asp-for="Ozellik.Adi" class="form-control" />
                    <span asp-validation-for="Ozellik.Adi" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ozellik.MalzemeCinsiId"></label>
                    <select asp-for="Ozellik.MalzemeCinsiId" asp-items="@Model.MalzemeCinsiList" class="form-select">
                        <option disabled selected>--Malzeme Cinsini seçiniz--</option>
                    </select>
                    <span asp-validation-for="Ozellik.MalzemeCinsiId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label asp-for="Ozellik.OlcuBirimi">Ölçü Birimi</label>
                    <input asp-for="Ozellik.OlcuBirimi" class="form-control" />
                    <span asp-validation-for="Ozellik.OlcuBirimi" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ozellik.Miktar">Miktar</label>
                    <input asp-for="Ozellik.Miktar" class="form-control" />
                    <span asp-validation-for="Ozellik.Miktar" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Ozellik.Aciklama"></label>
                <textarea asp-for="Ozellik.Aciklama" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Ozellik.Aciklama" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width=150px">Güncelle</button>
            <a asp-controller="Ozellik" asp-action="Index" class="btn btn-secondary" style="width:150px">Listeye Dön</a>
        </div>
    </form>
</div>
@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
