<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet"
                arguments=".\Jenga.BlazorUI.dll"
                stdoutLogEnabled="false"
                stdoutLogFile=".\logs\stdout"
                hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
    </aspNetCore>

    <!-- Windows Authentication (Negotiate/NTLM) -->
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
        <anonymousAuthentication enabled="true" />
      </authentication>
    </security>
  </system.webServer>

  <!-- Login ve diag path'lerinde Windows Auth challenge gönderilmesin.
       Böylece iPhone POST body kaybolmaz. -->
  <location path="account/login">
    <system.webServer>
      <security>
        <authentication>
          <windowsAuthentication enabled="false" />
          <basicAuthentication enabled="false" />
          <anonymousAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <location path="auth/diag">
    <system.webServer>
      <security>
        <authentication>
          <windowsAuthentication enabled="false" />
          <basicAuthentication enabled="false" />
          <anonymousAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <location path="account/logout">
    <system.webServer>
      <security>
        <authentication>
          <windowsAuthentication enabled="false" />
          <basicAuthentication enabled="false" />
          <anonymousAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
</configuration>
