.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1040;
}

.modal {
    display: block;
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 8px;
    z-index: 1050;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: block;*/ /* Önemli */
    /*width: 400px;*/ /* veya max-width: 90vw */
    /*max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;*/
}


.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
