@model MalzemeDagilimVM
<div class="container shadow p-3">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Envantere Malzeme Girişi</h4>
            </div>
        </div>
        <hr />
        <div class="row">

            <div class="mb-3 col-3">
                <label asp-for="MalzemeDagilim.MalzemeId"></label>
                <select asp-for="MalzemeDagilim.MalzemeId" asp-items="@Model.MalzemeList" class="form-select">
                    <option disabled selected>--Seçiniz--</option>
                </select>
                <span asp-validation-for="MalzemeDagilim.MalzemeId" class="text-danger"></span>
            </div>
            <div class="col-9">

                <div class="row">
                    @*<div asp-validation-summary="All"></div>*@

                    <div class="mb-3 col-5">
                        <label asp-for="MalzemeDagilim.MalzemeYeriTanimId"></label>
                        <select asp-for="MalzemeDagilim.MalzemeYeriTanimId" asp-items="@Model.MalzemeYeriList" class="form-select">
                            <option disabled selected>--Seçiniz--</option>
                        </select>
                        <span asp-validation-for="MalzemeDagilim.MalzemeYeriTanimId" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-2">
                        <label asp-for="MalzemeDagilim.Adet"></label>
                        <input asp-for="MalzemeDagilim.Adet" class="form-control" />
                        <span asp-validation-for="MalzemeDagilim.Adet" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-5">
                        <label > İşlem</label>
                        <select asp-for="Islem" asp-items="@Model.IslemList" class="form-select">
                            <option disabled selected>--Seçiniz--</option>
                        </select>
                        <span asp-validation-for="Islem" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="MalzemeDagilim.Aciklama"></label>
            <textarea asp-for="MalzemeDagilim.Aciklama" rows="3" class="form-control"></textarea>
            <span asp-validation-for="MalzemeDagilim.Aciklama" class="text-danger"></span>
        </div>
        <div class="col-12">

            <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
            
            <a asp-controller="MalzemeDagilim" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Listeye Dön
            </a>
        </div>
    </form>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}