<div class="container shadow p-3">
    <div class="row pt-3">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Malzeme Dağılım Listesi</h4>
        </div>
        <div class="col text-end">
            <a asp-controller="MalzemeDagilim" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Envantere Malzeme Girişi
            </a>
        </div>
    </div>
    <hr />
    <div class="pt-3">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Malzeme</th>
                    <th>Malzeme Grubu</th>
                    <th>Malzeme Cinsi</th>
                    <th>Yeri</th>
                    <th>Adet</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/malzemeDagilim.js"></script>
}