<div class="container shadow p-3">
    <div class="row pt-3">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Depolarda Bulunan Anı Objeleri</h4>
        </div>
    </div>
    <hr />
    <div class="pt-3">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Depo</th>
                    <th>Anı Objesi</th>
                    <th>Adet</th>
                    <th>Son İşlem Yapan</th>
                    <th>Son İşlem Tarihi</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/depoStok.js"></script>
}