@model MalzemeVM
<div class="container-sm shadow p-3">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Malzeme Tanımlama</h4>
            </div>
        </div>
        <hr />
        <div class="border p-3 mt-4">
            @* <div asp-validation-summary="All"></div> *@
            <div class="row">
                <div class="mb-3 col-6">
                    <label asp-for="Malzeme.Adi">Malzeme</label>
                    <input asp-for="Malzeme.Adi" class="form-control" />
                    <span asp-validation-for="Malzeme.Adi" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Malzeme.MalzemeCinsiId">Malzeme Cinsi</label>
                    <select asp-for="Malzeme.MalzemeCinsiId" asp-items="@Model.MalzemeCinsiList" class="form-select" onchange="selectedMalzemeCinsiChanged(this.value)">
                        <option disabled selected>--Malzeme Cinsini seçiniz--</option>
                    </select>
                    <span asp-validation-for="Malzeme.MalzemeCinsiId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label asp-for="Malzeme.MarkaTanimId">Marka</label>
                    <select asp-for="Malzeme.MarkaTanimId" asp-items="@Model.MarkaTanimList" class="form-select">
                        <option disabled selected>--Marka seçiniz--</option>
                    </select>
                    <span asp-validation-for="Malzeme.MarkaTanimId" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Malzeme.ModelTanimId">Model</label>
                    <select asp-for="Malzeme.ModelTanimId" asp-items="@Model.ModelTanimList" class="form-select">
                        <option disabled selected>--Model seçiniz--</option>
                    </select>
                    <span asp-validation-for="Malzeme.ModelTanimId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Malzeme.Aciklama"></label>
                <input asp-for="Malzeme.Aciklama" class="form-control" />
                <span asp-validation-for="Malzeme.Aciklama" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success" style="width=150px">Kaydet</button>
            <a asp-controller="Malzeme" asp-action="Index" class="btn btn-secondary" style="width:150px">Listeye dön</a>
        </div>
    </form>
</div>
@section scripts {
    <script src="~/js/ozellik.js"></script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
