@model MalzemeVM
<div class="container shadow">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input asp-for="Malzeme.Id" hidden  id="MalzemeIdInp"/>
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Malzeme Düzenle</h4>
            </div>
        </div>
        <hr />
        <div class="border p-3 mt-4">
            <div asp-validation-summary="All"></div>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label asp-for="Malzeme.Adi">Malzeme</label>
                            <input asp-for="Malzeme.Adi" class="form-control" />
                            <span asp-validation-for="Malzeme.Adi" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="Malzeme.MalzemeCinsiId">Malzeme Cinsi</label>
                            <select asp-for="Malzeme.MalzemeCinsiId" asp-items="@Model.MalzemeCinsiList" class="form-select" onchange="selectedMalzemeCinsiChanged(this.value)" id="MalzemeCinsiIdSlc">
                                <option disabled selected>--Malzeme Cinsini seçiniz--</option>
                            </select>
                            <span asp-validation-for="Malzeme.MalzemeCinsiId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label asp-for="Malzeme.MarkaTanimId">Marka</label>
                            <select asp-for="Malzeme.MarkaTanimId" asp-items="@Model.MarkaTanimList" class="form-select">
                                <option disabled selected>--Marka seçiniz--</option>
                            </select>
                            <span asp-validation-for="Malzeme.MarkaTanimId" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="Malzeme.ModelTanimId">Model</label>
                            <select asp-for="Malzeme.ModelTanimId" asp-items="@Model.ModelTanimList" class="form-select">
                                <option disabled selected>--Model seçiniz--</option>
                            </select>
                            <span asp-validation-for="Malzeme.ModelTanimId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="col text-end">
                        <button type="button" class="btn btn-success" onclick=OpenModal(); data-bs-toggle="modal" data-bs-target="#tblDataModalDiv">
                            <i class="bi bi-plus-circle"></i> &nbsp; Özellik Ekle
                        </button>
                    </div>
                    <div class="pt-3">
                        <table id="tblDataMalzemeOzellik" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Özellik</th>
                                    <th>Açıklama</th>
                                    <th>Düzenle/Sil</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Malzeme.Aciklama"></label>
                <input asp-for="Malzeme.Aciklama" class="form-control" />
                <span asp-validation-for="Malzeme.Aciklama" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width=150px">Güncelle</button>
            <a asp-controller="Malzeme" asp-action="Index" class="btn btn-secondary" style="width:150px">Listeye dön</a>
        </div>
    </form>
</div>
<div class="modal fade" id="tblDataModalDiv" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Özellik Seçimi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tblDataModal" class="table table-bordered table-striped table-sm small" style="width:100%">
                    <thead>
                        <tr>
                            <th>Özellik</th>
                            <th>Açıklama</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button id="saveSelectedBtn" class="btn btn-success">Seçilenleri Ekle</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/malzeme.js"></script>
    @{
                <partial name="_ValidationScriptsPartial" />
    }
    <script>
        var malzemeId = document.getElementById('MalzemeIdInp').value;
        loadMalzemeOzellikDataTable(malzemeId);

    </script>
}
