

#main {
    transition: margin-left .5s;
    /*padding: 5px;*/
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
  margin-bottom: 60px;
}
/**
    Page Design
**/
html {
    height: 100%;
}

.menuheader {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

/*Menu icon bar*/
.icon-bar {
    width: 90px;
    background-color: #555;
}

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
    }

        .icon-bar a:hover {
            background-color: #000;
        }

.active {
    background-color: #04AA6D;
}
/*Menu icon*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
/*Sidebar*/
.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

    .sidebar a {
        padding: 0px 0px 0px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }


/*dinamik menü*/
ul {
    list-style-type: none;
}

.menu-label {
    /*background-color: #AAAFAB;*/
    border-radius: 5px;
    padding: 3px;
    padding-left: 25px;
    color: white;
}

li {
    /*margin: 10px;*/
    /*padding: 5px;*/
    padding-left:0.7em !important;
    margin-top:0em;
    margin-bottom:0em;
    /*border: 1px so.menuLid #ABC;*/
    border-radius: 5px;
}
.menuLi {
    margin: 10px;
    /*padding: 5px;*/
    padding-left: 0.6em !important;
    margin-top: 0em;
    margin-bottom: 0em;
    /*border: 1px so.menuLid #ABC;*/
    border-radius: 5px;
}

/*input[type=checkbox] {
    display: none;
}

    input[type=checkbox] ~ ul {
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    input[type=checkbox]:checked ~ ul {
        max-height: 100%;
        max-width: 100%;
        opacity: 1;
    }

    input[type=checkbox] + label:before {
        transform-origin: 25% 50%;
        border: 8px solid transparent;
        border-width: 8px 12px;
        border-left-color: white;
        margin-left: -20px;
        width: 0;
        height: 0;
        display: inline-block;
        text-align: center;
        content: '';
        color: #AAAFAB;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        position: absolute;
        margin-top: 1px;
    }

    input[type=checkbox]:checked + label:before {
        transform: rotate(90deg);*/
        /*margin-top: 6px;
  margin-left: -25px;*/
    /*}*/
.menuInput {
    display: none;
}

    .menuInput ~ ul {
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    .menuInput:checked ~ ul {
        max-height: 100%;
        max-width: 100%;
        opacity: 1;
    }

    .menuInput + label:before {
        transform-origin: 25% 50%;
        border: 8px solid transparent;
        border-width: 8px 12px;
        border-left-color: white;
        margin-left: -20px;
        width: 0;
        height: 0;
        display: inline-block;
        text-align: center;
        content: '';
        color: #AAAFAB;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        position: absolute;
        margin-top: 1px;
    }

    .menuInput:checked + label:before {
        transform: rotate(90deg);
    }
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}