html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 100px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.jenga-container {
    /* 80% of viewport */
    height: 82vh;

    font-family: Calibri;
    font-size:medium;
    padding: 1rem;
    overflow:auto;
}
.jenga-card {
    overflow: auto;
    height:660px;
    background-color:lightcyan;
}
.popover-subtitle {
    text-decoration: underline;
}