@model AniObjesiVM

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input asp-for="AniObjesiTanim.Id" hidden />
    <div class="row pt-3">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Anı Objesi Oluşturma</h4>
        </div>
    </div>
    <hr />
    <div class="p-3 mt-4 row">
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="AniObjesiTanim.Adi"></label>
            <input asp-for="AniObjesiTanim.Adi" class="form-control" />
            <span asp-validation-for="AniObjesiTanim.Adi" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="AniObjesiTanim.KaynakId"></label>
            <select asp-for="AniObjesiTanim.KaynakId" asp-items="@Model.KaynakTanimList" class="form-select">
                <option disabled selected>--Ani Objesinin kaynağını seçiniz--</option>
            </select>
            <span asp-validation-for="AniObjesiTanim.KaynakId" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="AniObjesiTanim.StokluMu"></label>
            <select asp-for="AniObjesiTanim.StokluMu" asp-items="@Model.StokDurumuList" class="form-select">
                @*<option disabled selected>--Stok takibi yapılacak mı, seçiniz--</option>*@
            </select>
            <span asp-validation-for="AniObjesiTanim.StokluMu" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AniObjesiTanim.Aciklama"></label>
            <textarea asp-for="AniObjesiTanim.Aciklama" rows="3" class="form-control"></textarea>
            <span asp-validation-for="AniObjesiTanim.Aciklama" class="text-danger"></span>
        </div>
        <div class="col-12">
            @if (Model.AniObjesiTanim.Id != 0)
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
            }
            <a asp-controller="AniObjesiTanim" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Listeye Dön
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });      
    </script>
}
