<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Dağıtılmış olan Anı Objeleri</h4>
        </div>
        <div class="col text-end">
            <a asp-controller="AniObjesiDagitim" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Anı Objesi Dağıt
            </a>
        </div>
    </div>
    <hr />
    <div class="pt-3">
        <table id="tblData" class="table table-bordered table-striped table-sm" style="width:100%">
            <thead>
                <tr>
                    <th>Adı Soyadı</th>
                    <th>Anı Objesi</th>
                    <th>Verilen Adet</th>
                    <th>Veriliş Tarihi</th>
                    <th>Kurumu</th>
                    <th>Görevi</th>
                    <th>Düzenle/Sil</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    
    <script src="~/js/aniObjesiDagitim.js"></script>
}