@{
    ViewData["Title"] = "JENGA-TSKGV Yazılımları Platformu";
}

<div class="text-center">
    @*<h3 class="animate-charcter">JENGA-TSKGV Yazılımları Platformu</h3>*@
    <h1 class="display-4">Jenga - TSKGV Yazılımları platformu</h1>
    @*<img src="~/images/home/dog_running_003.gif" class="card-img-top rounded" style="height:400;width:auto" alt="JENGA-TSKGV Yazılımları Platformu" />*@
</div>
