@{
    ViewData["Title"] = "MTS - Makam Takip Sistemi";
}

<div class="text-center">
    <h1 class="display-4">MTS - Makam Takip Sistemi</h1>
    <img src="~/images/home/office.gif" class="card-img-top rounded" style="height:400;width:auto" alt="MTS Makam Takip Sistemi" />
</div>
