<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Arama/Görüşme Listesi</h4>
        </div>
        <div class="col text-end">
            <a asp-controller="AramaGorusme" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Yeni AramaGorusme Oluştur
            </a>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-2 form-group">
            <label class="control-label">Başlama Tarihi</label>
            <input id="BaslangicTarihiTxt" class="form-control" type="date" value="@DateTime.Today.AddYears(-1).ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="pt-3">
        <table id="tblData" class="table table-bordered table-striped table-sm small" style="width:100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Adi Soyadı</th>
                    <th>Tarih</th>
                    <th>Konu</th>
                    <th>Kurumu</th>
                    <th>Faaliyet</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/aramaGorusme.js"></script>
    <script>


        $("#BaslangicTarihiTxt").change(function () {
            FaaliyetListesiniDoldur();
        })
        //Tarih değişince tabloyu doldur
        var FaaliyetListesiniDoldur = function () {
            loadDataTable(BaslangicTarihiTxt.value);
        }
    </script>
}