.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

.modal {
    display: block;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-xxl-custom {
    max-width: 70vw;
}

@media (max-width: 575.98px) {
    .modal-xxl-custom {
        max-width: 100%;
    }
}

.modal-xxl-custom .modal-content {
    min-height: auto;   /* önceki 60vw kaldırıldı */
    height: auto;
}

.modal-xxl-custom .modal-body {
    overflow-y: visible; /* içerik kadar uzasın */
}

.modal-dialog.modal-narrow {
    max-width: 760px;
}
