@using Jenga.Models.Common
@typeparam T

<ul class="treeview-list">
    @foreach (var item in Items)
    {
        <li>
            <span class="treeview-item @(IsSelected(item) ? "selected" : "") gap-2"
                  @onclick="Selectable ? (() => OnItemClick.InvokeAsync(item)) : null"
                  @oncontextmenu:preventDefault="true"
                  @oncontextmenu="(e) => OnNodeContextMenu(e, item)">

                @ItemTemplate(item.Data)
                @if (item.ShowCreateIcon)
                {
                    <i class="bi bi-plus-square create-icon"
                       title="Altına Ekle"
                       @onclick:stopPropagation="true"
                       @onclick="() => OnAddChildClick.InvokeAsync(item)"></i>
                }
                @if (item.ShowEditIcon)
                {
                    <i class="bi bi-pencil-square edit-icon"
                       title="Düzenle"
                       @onclick:stopPropagation="true"
                       @onclick="() => OnItemEditClick.InvokeAsync(item)"></i>
                }
                @if (item.ShowDeleteIcon)
                {
                    <i class="bi bi-trash3-fill delete-icon"
                       title="Sil"
                       @onclick:stopPropagation="true"
                       @onclick="() => OnDeleteClick.InvokeAsync(item)"></i>
                }
            </span>
            @if (item.Children?.Any() == true)
            {
                <TreeView T="T"
                          Items="item.Children"
                          ItemTemplate="ItemTemplate"
                          OnItemClick="OnItemClick"
                          OnItemEditClick="OnItemEditClick"
                          SelectedItem="SelectedItem"
                          OnDeleteClick="OnDeleteClick"
                          OnContextMenu="OnContextMenu"
                          OnAddChildClick="OnAddChildClick"
                          Selectable="Selectable" />
            }
        </li>
    }
</ul>

@code {
    [Parameter] public TreeItem<T> SelectedItem { get; set; }
    [Parameter] public List<TreeItem<T>> Items { get; set; }
    [Parameter] public RenderFragment<T> ItemTemplate { get; set; }
    [Parameter] public EventCallback<TreeItem<T>> OnItemClick { get; set; }
    [Parameter] public EventCallback<TreeItem<T>> OnItemEditClick { get; set; } // Edit için ayrı callback
    [Parameter] public EventCallback<TreeItem<T>> OnDeleteClick { get; set; }
    [Parameter] public EventCallback<(MouseEventArgs, TreeItem<T>)> OnContextMenu { get; set; }
    [Parameter] public EventCallback<TreeItem<T>> OnAddChildClick { get; set; }
    [Parameter] public bool Selectable { get; set; } = true;

    private bool IsSelected(TreeItem<T> item) => SelectedItem != null && EqualityComparer<TreeItem<T>>.Default.Equals(item, SelectedItem);

    void OnNodeContextMenu(MouseEventArgs e, TreeItem<T> item)
    {
        OnContextMenu.InvokeAsync((e, item));
    }
}