@typeparam TItem

<ul class="treeview-list">
    @foreach (var item in Items)
    {
        <li>
            <span class="treeview-item @(IsSelected(item) ? "selected" : "") gap-2"
                  @onclick="() => OnItemClick.InvokeAsync(item)"
                  @oncontextmenu:preventDefault="true"
                  @oncontextmenu="(e) => OnNodeContextMenu(e, item)">
                @ItemTemplate(item)
                @if (!(GetChildren(item)?.Any() ?? false))
                {
                    <i class="bi bi-plus-square create-icon"
                       title="Altına Ekle"
                       @onclick:stopPropagation="true"
                       @onclick="() => OnAddChildClick.InvokeAsync(item)"></i>
                    <i class="bi bi-pencil-square edit-icon"
                       title="Düzenle"
                       @onclick:stopPropagation="true"
                       @onclick="() => OnItemClick.InvokeAsync(item)"></i>
                    <i class="bi bi-trash3-fill delete-icon"
                       title="Sil"
                       @onclick:stopPropagation="true"
                       @onclick="() => OnDeleteClick.InvokeAsync(item)"></i>
                }
            </span>
            @if (GetChildren(item).Any())
            {
                <TreeView TItem="TItem"
                          Items="GetChildren(item)"
                          ItemTemplate="ItemTemplate"
                          GetChildren="GetChildren"
                          OnItemClick="OnItemClick"
                          SelectedItem="SelectedItem"
                          OnDeleteClick="OnDeleteClick"
                          OnContextMenu="OnContextMenu"
                          OnAddChildClick="OnAddChildClick" />
            }
        </li>
    }
</ul>

@code {
    [Parameter] public List<TItem> Items { get; set; }
    [Parameter] public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter] public Func<TItem, List<TItem>> GetChildren { get; set; }
    [Parameter] public EventCallback<TItem> OnItemClick { get; set; }
    [Parameter] public TItem SelectedItem { get; set; }
    [Parameter] public EventCallback<TItem> OnDeleteClick { get; set; }
    [Parameter] public EventCallback<(MouseEventArgs, TItem)> OnContextMenu { get; set; }
    [Parameter] public EventCallback<TItem> OnAddChildClick { get; set; } // YENİ EKLENDİ

    private bool IsSelected(TItem item) => SelectedItem != null && EqualityComparer<TItem>.Default.Equals(item, SelectedItem);

    void OnNodeContextMenu(MouseEventArgs e, TItem item)
    {
        OnContextMenu.InvokeAsync((e, item));
    }
}