@using Jenga.Models.Inventory
@using Jenga.DataAccess.Services.Inventory
@using Jenga.Utility.Modal
@using Jenga.Utility.Toast
@inject IToastService ToastService
@inject IModalService ModalService
@inject IMaterialCategoryService MaterialCategoryService
@inject IMaterialService MaterialService
@inject IMaterialBrandService MaterialBrandService

<div class="d-flex justify-content-end mb-2">
    <button class="btn btn-success" @onclick="OpenNewCategoryModal" type="button">
        <i class="bi bi-plus-lg"></i> Yeni Kategori
    </button>
</div>

@if (Categories?.Any() != true)
{
    <p>Kategori bulunamadı.</p>
}
else
{
    <table class="table table-striped display" id="MaterialCategoryListTable">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Açıklama</th>
                <th>Üst Kategori Id</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Categories)
            {
                <tr>
                    <td>@cat.CategoryName</td>
                    <td>@cat.Aciklama</td>
                    <td>
                        @{
                            var parent = Categories.FirstOrDefault(x => x.Id == cat.ParentCategoryId);
                        }
                        @parent?.CategoryName
                    </td>
                    <td>
                        <button class="btn btn-primary me-2" @onclick="() => OnEditClicked(cat)">Düzenle</button>
                        <button class="btn btn-danger" @onclick="() => OnDeleteClicked(cat)">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (showEditModal && selectedCategory != null)
{
    <MaterialCategoryEditModal Category="@selectedCategory"
                              IsOpen="true"
                              OnSave="HandleSave"
                              OnClose="HideModal"
                              ParentCategories="Categories?.Where(x => x.Id != selectedCategory.Id).ToList()" />
}

@code {
    [Parameter] public List<MaterialCategory> Categories { get; set; } = new();
    private MaterialCategory? selectedCategory { get; set; }
    private bool showEditModal = false;

    private Task OnEditClicked(MaterialCategory category)
    {
        selectedCategory = category;
        showEditModal = true;
        return Task.CompletedTask;
    }
    private async void HandleSave()
    {
        if (selectedCategory != null)
        {
            if (selectedCategory.Id == 0)
            {
                var saved = await MaterialCategoryService.AddAsync(selectedCategory);
                if (saved)
                {
                    Categories.Add(selectedCategory);
                }
            }
            else
            {
                await MaterialCategoryService.UpdateAsync(selectedCategory);
            }
            showEditModal = false;
            StateHasChanged();
        }
    }
    private async Task OnDeleteClicked(MaterialCategory category)
    {
        // Alt kategori kontrolü
        if (category == null)
            return;
        var hasChildren = Categories.Any(m => m.ParentCategoryId == category.Id);
        if (hasChildren)
        {
            var childTitles = Categories
                .Where(m => m.ParentCategoryId == category.Id)
                .Select(m => m.CategoryName)
                .Where(title => !string.IsNullOrEmpty(title))
                .ToList();

            var childList = string.Join(", ", childTitles);
            var message = "Önce alt kategoriler silinmelidir.";
            if (childTitles.Count > 0)
            {
                message += $" Alt Kategoriler: {childList}";
            }

            ToastService.ShowToast(message, ToastType.Error, 5000);
            return;
        }
        // Material kontrolü
        var hasMaterial = await MaterialService.AnyAsync(m => m.CategoryId == category.Id);
        if (hasMaterial)
        {
            ToastService.ShowToast("Bu kategoriye bağlı malzemeler var, önce onları silmelisiniz.", ToastType.Error, 5000);
            return;
        }
        // Brand kontrolü yap
        var hasBrand = await MaterialBrandService.AnyAsync(m => m.CategoryId == category.Id);
        if (hasBrand)
        {
            ToastService.ShowToast("Bu kategoriye bağlı markalar var, önce onları silmelisiniz.", ToastType.Error, 5000);
            return;
        }


        ModalService.ShowConfirmation(
            "Silme Onayı",
            $"'{category.CategoryName}' rolünü silmek istediğinizden emin misiniz?",
            async result =>
            {
                if (result)
                {
                    var deleted = await MaterialCategoryService.DeleteAsync(category.Id);
                    if (deleted)
                    {
                        ToastService.ShowToast($"{category.CategoryName} silindi", ToastType.Success, 3000);
                        Categories.Remove(category);
                        StateHasChanged();
                    }
                    else
                    {
                        ToastService.ShowToast($"Silme işlemi başarısız oldu", ToastType.Error, 3000);
                    }
                }
            });
    }
    private void HideModal()
    {
        selectedCategory = null;
        showEditModal = false;
    }
    private async Task OpenNewCategoryModal()
    {
        selectedCategory = new MaterialCategory();
        showEditModal = true;
    }
}