@using System.Collections.Generic
@using Jenga.Models.Common

<ul class="recursive-menu">
    @foreach (var item in MenuItems)
    {
        <li class="menu-item @(item.IsExpanded ? "open" : "")">
            <div class="menu-header" @onclick="() => Toggle(item)">
                @item.Title
                @if (item.Children?.Any() == true)
                {
                    <span class="toggle-icon">▶</span>
                }
            </div>

            @if (item.IsExpanded && item.Children?.Any() == true)
            {
                <RecursiveMenu MenuItems="item.Children" />
            }
        </li>
    }
</ul>

@code {
    [Parameter]
    public List<MenuItem> MenuItems { get; set; }

    private void Toggle(MenuItem item)
    {
        item.IsExpanded = !item.IsExpanded;
        Console.WriteLine($"{item.Title} tıklandı, açık: {item.IsExpanded}");
    }

}
