@inject Jenga.DataAccess.Repository.IRepository.MTS.IAniObjesiTanimRepository AniObjesiTanimRepository
<h3>Anı Objeleri Başlık</h3>

@if (aniObjeTanimList == null)
{
    <p>Loading...</p>
}
else if (aniObjeTanimList.Any())
{
    <table>
        <thead>
            <tr>
                <th>Obje Id ID</th>
                <th>Adı</th>
                <th>Kaynak</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aniObjesiTanim in aniObjeTanimList)
            {
                <tr>
                    <td>@aniObjesiTanim.Id</td>
                    <td>@aniObjesiTanim.Adi</td>
                    <td>@aniObjesiTanim.StokluMu</td>
                    <td>@aniObjesiTanim.Aciklama</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Jenga.Models.MTS.AniObjesiTanim> aniObjeTanimList;
    protected override async Task OnInitializedAsync()
    {
        aniObjeTanimList = await AniObjesiTanimRepository.GetAllAsync();
    }
}

