@rendermode InteractiveServer
@using Jenga.BlazorWeb.Services.Theme
@inject IJSRuntime JS

<button @onclick="Theme.Toggle" class="btn btn-outline-secondary">
    Tema: @(Theme.CurrentTheme)
</button>


@code {
    [Inject] ThemeService Theme { get; set; }


}

