.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.toast-message {
    background-color: #444;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    animation: fadein 0.3s;
    min-width: 200px;
    text-align: center;
    margin-bottom: 0.5rem;
    border-color: black;
    pointer-events: auto; /* olmalı */
}
    .toast-message.toast-success {
        background-color: #4CAF50;
    }

    .toast-message.toast-error {
        background-color: #F44336;
    }

    .toast-message.toast-info {
        background-color: #2196F3;
    }

    .toast-message.toast-warning {
        background-color: #FFC107;
    }

    .toast-message.info {
        background-color: #2196F3;
    }

    .toast-message.success {
        background-color: #4CAF50;
    }

    .toast-message.warning {
        background-color: #FFC107;
    }

    .toast-message.error {
        background-color: #F44336;
    }

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
