<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Depoya Anı Objesi Girişleri</h4>

        </div>
        <div class="col text-end">
            <a asp-controller="DepoHareket" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Yeni Depo İşlemi Oluştur
            </a>
        </div>
    </div>
    <hr />
    <div class="pt-3">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Depo</th>
                    <th>Anı Objesi</th>
                    <th>Adet</th>
                    <th>İşlem Tipi</th>
                    <th>İşlem Tarihi</th>
                    <th>Açıklama</th>
                    <th>Düzenle/Sil</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/depoHareket.js"></script>
}