@model MTSGorevTanim

<form method="post" >
    <div class="row pt-3">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Görev Oluşturma</h4>
        </div>
    </div>
    <hr />
    <div class="p-3 mt-4 row">
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Adi"></label>
            <input asp-for="Adi" class="form-control" />
            <span asp-validation-for="Adi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="KisaAdi"></label>
            <input asp-for="KisaAdi" class="form-control" />
            <span asp-validation-for="KisaAdi" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Aciklama"></label>
            <textarea asp-for="Aciklama" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Aciklama" class="text-danger"></span>
        </div>
        <div class="col-12">
            @if (Model!=null)
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Güncelle</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
            }
            <a asp-controller="MTSGorevTanim" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Listeye Dön
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
@*     <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });      
    </script> *@
}
