<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">MTS Görev Listesi</h4>
        </div>
        <div class="col text-end">
            <a asp-controller="MTSGorevTanim" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Yeni Görev Oluştur
            </a>
        </div>
    </div>
    <hr />
    <div class="pt-3">
        <table id="tblData" class="table table-bordered table-striped table-sm" style="width:100%">
            <thead>
                <tr>
                    <th>Kurum Adı</th>
                    <th>Görev Adı</th>
                    <th>Görev Kısa Adı</th>
                    <th>Açıklama</th>
                    <th>Düzenle/Sil</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/mtsGorevTanim.js"></script>
}