@model ZimmetVM
<div class="container shadow p-3">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Personele Malzeme Tahsisi</h4>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="mb-3 col-3">
                <label asp-for="Zimmet.MalzemeId"></label>
                <select asp-for="Zimmet.MalzemeId" asp-items="@Model.MalzemeList" class="form-select" id="MalzemeDropdown">
                    <option disabled selected>--Seçiniz--</option>
                </select>
                <span asp-validation-for="Zimmet.MalzemeId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="Zimmet.PersonelId"></label>
                <select asp-for="Zimmet.PersonelId" asp-items="@Model.PersonelList" class="form-select" id="PersonelDropdown">
                    <option disabled selected>--Seçiniz--</option>
                </select>
                <span asp-validation-for="Zimmet.PersonelId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-2">
                <label asp-for="Zimmet.Adet"></label>
                <input asp-for="Zimmet.Adet" class="form-control" id="AdetInput" min="1"/>
                <span asp-validation-for="Zimmet.Adet" class="text-danger" ></span>
            </div>
            <div class="mb-3 col-3">
                <div class="form-group">
                    <label asp-for="Zimmet.Tarih" class="control-label"></label>
                    <input asp-for="Zimmet.Tarih" class="form-control" type="date" />
                    <span asp-validation-for="Zimmet.Tarih" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="mb-3 col-3">
                <label asp-for="Zimmet.MalzemeYeriTanimId"></label>
                <select asp-for="Zimmet.MalzemeYeriTanimId" asp-items="@Model.MalzemeYeriList" class="form-select" id="MalzemeYeriDropdown">
                    <option disabled selected>--Seçiniz--</option>
                </select>
                <span asp-validation-for="Zimmet.MalzemeYeriTanimId" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Zimmet.Aciklama"></label>
            <textarea asp-for="Zimmet.Aciklama" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Zimmet.Aciklama" class="text-danger"></span>
        </div>
        <div class="col-12">

            <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>

            <a asp-controller="Zimmet" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Listeye Dön
            </a>
        </div>
    </form>
</div>
@section Scripts {
    @{
            <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/zimmet.js"></script>
}