@model Personel
<div class="container shadow p-3">
    <form method="post">
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Personel Girişi</h4>
            </div>
        </div>
        <hr />
        <div class="border p-3 mt-4">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="Adi"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Soyadi"></label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SicilNo"></label>
                <input asp-for="SicilNo" class="form-control" />
                <span asp-validation-for="SicilNo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Tahsili"></label>
                <input asp-for="Tahsili" class="form-control" />
                <span asp-validation-for="Tahsili" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Asker_sivil"></label>
                <input asp-for="Asker_sivil" class="form-control" />
                <span asp-validation-for="Asker_sivil" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Aciklama"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width=150px">Kaydet</button>
            <a asp-controller="Personel" asp-action="Index" class="btn btn-secondary" style="width:150px">Listeye dön</a>
        </div>
    </form>
</div>
@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
