@model IEnumerable<Personel>
@{
    ViewData["Title"] = "Index";
}

<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Personel Listesi</h4>
        </div>
        <div class="col text-end">
            <a asp-controller="Personel" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Yeni Personel Girişi
            </a>
        </div>
    </div>
    <hr />
    <div class="pt-3">
        <table id="tblData" class="table table-border table-striped table-sm" style="width:100%">
            <thead>
                <tr>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Sicil No</th>
                    <th>Tahsili</th>
                    <th>Asker/Sivil</th>
                    <th>Düzenle/Sil</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/personel.js"></script>
}