@using Jenga.BlazorWeb.Components.Menus
@using Jenga.BlazorWeb.Services.Theme
@using Jenga.BlazorWeb.Components.Shared
@inherits LayoutComponentBase
@inject ThemeService ThemeService
@inject ILogger<RecursiveMenu> Logger

<div class="page-layout @(ThemeService.CurrentTheme ?? "light")">
    <!-- Tema sınıfını ekledik -->
    <aside class="sidebar-area">
        <TreeViewSidebar />
    </aside>

    <main class="main-area">
        <header class="top-row px-4">
            <ToggleTheme />

            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </header>

        <section class="content px-4">
            <p>Aktif tema: @ThemeService.CurrentTheme</p>

            <CascadingValue Value="ThemeService.CurrentTheme">
                @Body
            </CascadingValue>
        </section>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += OnThemeChangedHandler;
    }

    private void OnThemeChangedHandler()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= OnThemeChangedHandler;
       
    }
}
