@using Blazorise
@using Jenga.DataAccess.Repositories.IRepository
@using Jenga.Models.Ortak
@using Jenga.Models.TBYS
@inject IUnitOfWork UnitOfWork

<Select TValue="int?" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression" Class="">
    <option value="">Seçiniz</option>
    @if (iller != null)
    {
        @foreach (var il in iller)
        {
            <option value="@il.Id">@il.IlAdi</option>
        }
    }
</Select>

@code {
    [Parameter] public int? Value { get; set; }
    [Parameter] public EventCallback<int?> ValueChanged { get; set; }
    [Parameter] public Expression<Func<int?>>? ValueExpression { get; set; }

    private List<Il>? iller;

    protected override async Task OnInitializedAsync()
    {
        iller = (await UnitOfWork.Il.GetAllAsync()).ToList();
    }
    private async Task OnValueChanged(int? newValue)
    {
        Value = newValue;
        await ValueChanged.InvokeAsync(newValue); // Olayı tetikle
    }
}

