@using Jenga.Models.Common
@typeparam TItem

<div class="menu-list">
    @foreach (var item in Items)
    {
        <div class="menu-item @(item.IsActive ? "active" : "")">
            @item.Text
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<TItem> Items { get; set; }
}
