@using Jenga.BlazorUI.Services.Menu
@using Jenga.Models.Common

@inject IMenuService MenuService

<aside class="treeview-sidebar">
    @if (MenuData is null)
    {
        <p>Yükleniyor…</p>
    }
    else
    {
        <RecursiveMenu MenuItems="@MenuData" />
    }
</aside>

@code {
    
    private List<MenuItem> MenuData = new()
    {
        new() { Title = "Dosyalar", Children = new()
            {
                new() { Title = "Raporlar" },
                new() { Title = "Belgeler" }
            }
        },
        new() { Title = "Ayarlar", Children = new()
            {
                new() { Title = "Profil" },
                new() { Title = "Gizlilik" }
            }
        }
    };
}


