@model MTSKurumGorevVM
<div class="container shadow p-3">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <input asp-for="MTSKurumGorev.KisiId" hidden />
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Kurum/Görev Ataması</h4>
            </div>
        </div>
        <hr />
        <div class="container ">
            <div class="row">
                @* Kisi adı ve soyadı MTSKurumGorevVM.Kisi'den alınıyor, bu bilgi controller/create içerisinde dolduruluyor
                MTSKurumGorev.Kisi den almak doğru değil, öyle yaptığımda, her Create submit edildiğinde bir de Kisi insert ediyor
                *@
                <div class="col-4 form-group">
                    <label asp-for="Kisi.Adi"></label>
                    <input asp-for="Kisi.Adi" class="form-control" readonly />
                </div>
                <div class="col-4 form-group">
                    <label asp-for="Kisi.Soyadi"></label>
                    <input asp-for="Kisi.Soyadi" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                @*<div asp-validation-summary="All"></div>*@
                <div class="col-4 form-group">
                    <label asp-for="MTSKurumGorev.MTSKurumTanimId">MTSKurumu</label>
                    <select asp-for="MTSKurumGorev.MTSKurumTanimId" asp-items="@Model.MTSKurumTanimList" class="form-select" id="MTSKurumTanimId">
                        <option disabled selected>--Kurum seçiniz--</option>
                    </select>
                    <span asp-validation-for="MTSKurumGorev.MTSKurumTanimId" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="MTSKurumGorev.MTSGorevTanimId">MTSGörevi</label>
                    <select asp-for="MTSKurumGorev.MTSGorevTanimId" asp-items="@Model.MTSGorevTanimList" class="form-select" id="MTSGorevTanimId">
                        <option disabled selected>--Gorev seçiniz--</option>
                    </select>
                    <span asp-validation-for="MTSKurumGorev.MTSGorevTanimId" class="text-danger"></span>
                </div>
                <div class="col-2 form-group">
                    <label asp-for="MTSKurumGorev.BaslamaTarihi" class="control-label">Başlama Tarihi</label>
                    <input asp-for="MTSKurumGorev.BaslamaTarihi" class="form-control" type="date" />
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <a asp-controller="MTSKurumTanim" asp-action="Create" class="btn btn-outline-success float-end mt-2">
                        Yeni Kurum
                    </a>
                </div>
                <div class="col-4 form-group">
                    <a asp-controller="MTSGorevTanim" asp-action="Create" class="btn btn-outline-success float-end mt-2">
                        Yeni Görev
                    </a>
                </div>
            </div>
            <div class="col-10 form-group">
                <label asp-for="MTSKurumGorev.Aciklama"></label>
                <textarea asp-for="MTSKurumGorev.Aciklama" rows="2" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group m-2">
            <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
            <a asp-controller="Kisi" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Listeye Dön
            </a>
        </div>
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>

        $(document).ready(function () {
            //ilceDDLDoldur(); // kapandı çünkü tekrar doldurmaya gerek yok, ayrıca seçili olanı değiştiriyor
        })
        $("#MTSKurumTanimId").change(function () {
            GorevDDLDoldur();
        })
        //Kurum seçilince Gorevler ddl dolsun
        var GorevDDLDoldur = function () {
            $.ajax({
                url: '@Url.Action("GetMTSGorevTanimList","MTSKurumGorev")',
                type: 'GET',
                data: {
                    MTSKurumTanimId: $("#MTSKurumTanimId").val(),
                },
                success: function (data) {
                    $('#MTSGorevTanimId').find('option').remove();
                    $(data).each(
                        function (index, item) {
                            $('#MTSGorevTanimId').append('<option value="' + item.id + '">' + item.adi + '</option>')
                        }
                    );
                }
            })
        }
    </script>
}
