@model MTSKurumTanim
<div class="container shadow p-3">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input asp-for="Id" hidden />
        <div class="row pt-3">
            <div class="col ">
                <h4 class="text-primary text-start fw-bold">Kurum Düzenle</h4>
            </div>
        </div>
        <hr />
        <div class="">
            @*<div asp-validation-summary="All"></div>*@
            <div class="row">
                <div class="form-floating py-2 col-4">
                    <input asp-for="Adi" class="form-control shadow fw-bold" />
                    <label asp-for="Adi" class="ms-2"></label>
                    <span asp-validation-for="Adi" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-4">
                    <input asp-for="KisaAdi" class="form-control shadow" />
                    <label asp-for="KisaAdi" class="ms-2"></label>
                    <span asp-validation-for="KisaAdi" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Telefon1" class="form-control shadow" />
                        <label asp-for="Telefon1" class="ms-2"></label>
                        <span asp-validation-for="Telefon1" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="TelAciklama1" class="form-control shadow" />
                        <label asp-for="TelAciklama1" class="ms-2"></label>
                        <span asp-validation-for="TelAciklama1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Telefon2" class="form-control shadow" />
                        <label asp-for="Telefon2" class="ms-2"></label>
                        <span asp-validation-for="Telefon1" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="TelAciklama2" class="form-control shadow" />
                        <label asp-for="TelAciklama2" class="ms-2"></label>
                        <span asp-validation-for="TelAciklama2" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Telefon3" class="form-control shadow" />
                        <label asp-for="Telefon3" class="ms-2"></label>
                        <span asp-validation-for="Telefon1" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="TelAciklama3" class="form-control shadow" />
                        <label asp-for="TelAciklama3" class="ms-2"></label>
                        <span asp-validation-for="TelAciklama3" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Telefon4" class="form-control shadow" />
                        <label asp-for="Telefon4" class="ms-2"></label>
                        <span asp-validation-for="Telefon1" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="TelAciklama4" class="form-control shadow" />
                        <label asp-for="TelAciklama4" class="ms-4"></label>
                        <span asp-validation-for="TelAciklama4" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Telefon5" class="form-control shadow" />
                        <label asp-for="Telefon5" class="ms-2"></label>
                        <span asp-validation-for="Telefon1" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="TelAciklama5" class="form-control shadow" />
                        <label asp-for="TelAciklama5" class="ms-4"></label>
                        <span asp-validation-for="TelAciklama5" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-floating py-2 col-12">
                <label asp-for="Aciklama"></label>
                <textarea asp-for="Aciklama" class="form-control" style="height:150px"></textarea>
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="row pt-2">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary form-control">Güncelle</button>
                </div>
                <div class="col-2">
                    <a asp-controller="MTSKurumTanim" asp-action="Index" class="btn btn-outline-primary border form-control">
                        Listeye Geri Dön
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
