<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 class="text-primary text-start fw-bold">Kurum Listesi</h4>
        </div>
        <div class="col text-end">
            <a asp-controller="MTSKurumTanim" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Yeni Kurum Oluştur
            </a>
        </div>
    </div>
    <hr />

    <div class="pt-3">
        <table id="tblData" class="table table-bordered table-striped table-sm small" style="width:100%">
            <thead>
                <tr>
                    <th>Kurum Adı</th>
                    <th>Kurum Kısa Adı</th>
                    <th>Açıklama</th>
                    <th>Kişiler</th>
                    <th>Görevler</th>
                    <th>Düzenle/Sil</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="OpenModalDiv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Kurumdaki Görevler</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tblDataModal" class="table table-bordered table-striped table-sm small" style="width:100%">
                    <thead>
                        <tr>
                            <th>Görev </th>
                            <th>Kısaltması</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="tblDataModalKisiDiv" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Kurumdaki Kişiler</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tblDataModalKisi" class="table table-bordered table-striped table-sm small" style="width:100%">
                    <thead>
                        <tr>
                            <th>Adı Soyadı</th>
                            <th>Görevi</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/mtsKurumTanim.js"></script>
    <script>
        function OpenModalKurum(mtsKurumTanimId) {
            loadModalDataTable(mtsKurumTanimId);
            var myModal = document.getElementById('OpenModalDiv');
            // Open the modal
            var modal = new bootstrap.Modal(myModal);
            modal.show();
        }
        function OpenModalKisi(mtsKurumTanimId) {
            loadModalDataTableKisi(mtsKurumTanimId);
            var myModal = document.getElementById('tblDataModalKisiDiv');
            // Open the modal
            var modal = new bootstrap.Modal(myModal);
            modal.show();
        }
        function OpenModal1(mtsKurumTanimId) {
            $.ajax({
                url: '/Admin/MTSGorevTanim/GetAllByMTSKurumTanimId', // Replace with your controller and action
                type: 'GET', // or 'POST' depending on your needs
                data: {
                    mtsKurumTanimId: mtsKurumTanimId,
                },
                success: function (data) {
                    // Handle the response from the controller if needed
                    // Assuming your controller returns HTML content for the modal
                    $('#OpenModalDiv').html(data);

                    // Display the modal after the AJAX request is complete
                    var myModal = new bootstrap.Modal(document.getElementById('OpenModalDiv'));
                    myModal.show();
                },
                error: function (error) {
                    // Handle any errors that occur during the AJAX request
                    console.error(error);
                }
            });

        }
    </script>
}