<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jenga.Web</title>
    

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />

    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
    
    <link rel="stylesheet" href="~/icon/bootstrap-icons-1.9.1/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/animate/animate.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.min.css" />
</head>
<body>
    <div id="main">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">

                <div class="container-fluid">
                    @*menu icon*@
                    <div class="me-4" onclick="openCloseSideBar(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Jenga.Web</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Kullanım Koşulları</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Depo İşlemleri</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="DepoTanim" asp-action="Index">Depo Tanımlama</a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="KaynakTanim" asp-action="Index">Kaynak Tanımlama</a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="AniObjesiTanim" asp-action="Index">Anı Objesi Tanımlama</a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="DepoHareket" asp-action="Index">Depoya Anı Objesi Girişi</a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="DepoStok" asp-action="Index">Depo Stok Durumu</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Yetki İşlemleri</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="ModulTanim" asp-action="Index">Modül Listesi</a>
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="MenuTanim" asp-action="Index">Menü Listesi</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        </ul>
                        <p class="nav navbar-text">Hello, @User.Identity?.Name!</p>
                    </div>
                </div>
            </nav>
            @*SideBar*@
            <div id="mySidebar" class="sidebar bg-primary text-light">
                <div style="width: 300px">
                    <h3>
                        <i class="bi bi-chat-right-text-fill"></i>
                        JENGA|<strong>Menu</strong>
                    </h3>
                    <hr>
                    <ul id="menu" class="list">
                    </ul>
                </div>
            </div>
        </header>
        <div class="container shadow">
            <main role="main" class="pb-3">
                <partial name="_Notification" />
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted bg-primary">
            <div class="container">
                &copy; 2022 - Jenga.Web By Bilgi|<strong>Sistem</strong>™ - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/menuTree.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
