@page "/inventory/material-model-manager"
@rendermode InteractiveServer
@using Jenga.BlazorUI.Components.Inventory
@using Jenga.DataAccess.Services.Inventory
@using Jenga.Models.Inventory
@inject IMaterialModelService MaterialModelService
@inject IJSRuntime JS

<h3>Malzeme Model Yönetimi</h3>
<MaterialModelListComponent Models="@models" />

@code {
    private List<MaterialModel> models = new();
    private bool _dataLoaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_dataLoaded)
        {
            models = await MaterialModelService.GetAllAsync();
            _dataLoaded = true;
            StateHasChanged();
            await JS.InvokeVoidAsync("initMaterialModelTableWithExport");
        }
    }
}